<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix="Test.php">./src</directory>
        </include>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <php>
        <!--DEFAULT -->
        <env name="DB_CONNECTION" value="sqlite" />
        <env name="DB_DATABASE" value=":memory:" />
        <!--for testing with json on real db -->
<!--        <env name="DB_CONNECTION" value="pgsql" />-->
<!--        <env name="DB_HOST" value="database.ensi.127.0.0.1.nip.io" />-->
<!--        <env name="DB_PORT" value="5432" />-->
<!--        <env name="DB_DATABASE" value="laravel_query_builder_helpers" />-->
<!--        <env name="DB_USERNAME" value="postgres" />-->
<!--        <env name="DB_PASSWORD" value="example" />-->
    </php>
</phpunit>
